article.category-block{
	width: 100%;
	margin-top: 70px;
	background-size: cover;
	background-position: center;
	text-align: center;
	&:first-of-type{
		margin-top: 0;
	}
	.content-principal{
		float: left;
		width: 100%;
		height: auto;
		position: relative;
		.cont-image{
			position: absolute;
			height: 100%;
			padding: 0 15px 0 0;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			img{
				width: 110%;
				height: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				//margin-left: -55%;
				//margin-top: -30%;
			}
			.image-desktop{
				display: block;
			}
			.image-mobile{
				display: none;
			}
		}
		&.left{
			.cont-image{
				left: 0;
			}
			.wrapper-description{
				float: right;
				.cont-description{
					float: left;
					.arrow{
						left: -10px;
					}
				}
			}
		}
		&.right{
			.cont-image{
				right: 0;
			}
			.wrapper-description{
				float: left;
				.cont-description{
					float: right;
					.arrow{
						right: -10px;
					}
				}
			}
		}
		.wrapper-description{
			position: relative;
			border-top: 1px solid $gray-3;
			border-bottom: 1px solid $gray-3;
			padding-top: 40px;
			padding-bottom: 40px;
			.cont-description{
				width: 100%;
				max-width: 420px;
				padding: 0 45px;
				height: 100%;
				h2{
					width: 100%;
					float: left;
					color: $blue-title;
					font-size: 44px;
					letter-spacing: 2px;
					text-align: left;
				}
				.line{
					float: left;
					width: 30px;
					height: 3px;
					background: $blue-title;
					margin: 10px 0;
				}
				h4{
					float: left;
					width: 100%;
					margin: 10px 0 5px;
					font-size: 20px;
					color: $span-title;
					letter-spacing: 1px;
					text-align: left;
				}
				p{
					width: 100%;
					text-align: left;
					float: left;
					margin: 0;
					&.description{
						margin: 0 0 20px;
						font-family: $font-p;
						font-size: 16px;
						line-height: normal;
						color: $gray-4;
						font-weight: 400;
					}
					&.written-by, &.date{
						text-transform: uppercase;
						font-weight: bold;
						font-size: 16px;
						span{
							color: $blue-title;
						}
					}
					&.written-by{
						color: $span-title;
					}
					&.date{
						color: $blue-title;
						display: none;
					}
				}
				.field-link{
					float: left;
					margin: 25px 0 0;
					width: 100%;
					text-align: left;
				}
				.arrow{
					position: absolute;
					width: 20px;
					height: 20px;
					top: 65px;
					background: #fff;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
	.general-article{
		padding: 0;
		margin-top: 70px;
		display: inline-block;
		.cont-image{
			float: left;
			width: 45%;
			position: relative;
			img{
				float: left;
				width: 100%;
				height: auto;
			}
			a{
				.glyphicon{
					width: 34px;
					height: 34px;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -17px;
					margin-top: -17px;
					text-align: center;
					border: 1px solid #fff;
					border-radius: 50%;
					color: #fff;
					font-size: 24px;
					padding: 2px;
				}
			}
		}
		.cont-description{
			float: left;
			width: 55%;
			padding: 0 0 0 15px;
			text-align: left;
			h3{
				width: 100%;
				color: $blue-title;
				font-family: $font-p;
				font-size: 20px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 1px;
				word-wrap: break-word;
			}
			.line{
				float: left;
				width: 40px;
				height: 3px;
				background: $blue-2;
				margin: 10px 0;
			}
			p{
				width: 100%;
				margin: 0;
				text-align: left;
				font-family: $font-p;
				font-size: 14px;
				line-height: normal;
				color: $gray-4;
				font-weight: 400;
				float: left;
				a{
					color: $blue-title;
					font-weight: bolder;
				}
			}
		}
	}
	footer{
		text-align: center;
		margin: 50px auto;
	}
	&.featured-top{
		.content-principal{
			&.left .wrapper-description .cont-description{
				border-right: 1px solid $gray-3;
				.arrow {
					left: -25px;
				}
			}
			&.right{
				.content-tags{float: right;}
				.wrapper-description .cont-description{
					border-left: 1px solid $gray-3;
					.arrow {
						right: -25px;
					}
				}
			}
			.wrapper-description .cont-description{
				max-width: 400px;
				padding: 0 30px;
				.arrow{
					top: 15px;
				}
			}
		}
	}
}

.category-page{
	.content-tags{
		width: 35%;
		text-align: left;
		padding: 25px 25px 25px 35px;
		h3{
			width: 100%;
			font-size: 20px;
			font-weight: 600;
			font-family: $font-p;
			color: $blue-title;
			text-transform: uppercase;
			margin-bottom: 15px;
			letter-spacing: 1px;
		}
		ul{
			padding-left: 15px;
			li{
				float: left;
				color: $gray-4;
				margin-right: 35px;
				margin-bottom: 5px;
				list-style-type: square;
				list-style-position: outside;
				a{
					color: $gray-4;
					font-size: 12px;
					text-transform: uppercase;
					text-decoration: none;
					&:hover{
						color: $blue-2;
					}
				}
			}
		}
	}
}

article.simple-bg-block{
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
	header{
		width: 100%;
		float: left;
		padding: 0 15px;
		margin: 60px 0;
		text-align: center;
		position: relative;
		z-index: 2;
		h2{
			color: $blue-title;
			font-size: 44px;
			letter-spacing: 2px;
		}
	}
	.description{
		width: 400px;
		margin: 0 auto;
		display: inline-block;
		position: relative;
		z-index: 2;
		h3{
			color: $blue-title;
			margin-bottom: 10px;
			letter-spacing: 1px;
		}
		p{
			width: 100%;
			margin: 0;
			text-align: center;
			font-family: $font-p;
			font-size: 16px;
			line-height: normal;
			color: $blue-title;
			font-weight: 400;
			float: left;
		}
	}
	footer{
		text-align: center;
		margin: 50px auto;
		position: relative;
		z-index: 2;
	}
	&.white{
		header h2{
			color: #fff;
		}
		header .line-title.blue{
			background: #fff;
		}
		.description{
			h3,p{
				color: #fff;
			}
		}
		.button.btn-blue{
			color: #fff;
    		border: 1px solid #fff;
			&:hover{
				border: 1px solid $blue-button;
			}
		}
	}
}
article{
	&.dark{
		padding-top: 70px;
		margin-top: 0;
		.content-principal .wrapper-description .cont-description{
			h2, p.description, p.written-by span, p.date{
				color: #fff;	
			}
			.arrow{
				background: $blue-button;
				display: none;
			}
			.line{
				background: $blue-2;
			}
		}
		.general-article{
			.cont-image{
				a{
					background: rgba($blue-2, .8);
					.glyphicon{
						border: 1px solid $blue-title;
						color: $blue-title;
					}
				}
			}
			.cont-description{
				h3{
					color: #fff;
				}
				p{
					color: $span-title;
					a{
						color: #fff!important;
					}
				}
			}
		}
	}
}

@media (max-width: 1200px){
	article.category-block.featured-top .content-tags{display: none;}
	article.category-block.featured-top .content-principal .cont-image{width: 58.33333333%;}
	article.category-block.featured-top .content-principal .wrapper-description{width: 41.66666667%;}
	article.category-block.featured-top{
		.content-principal.left, .content-principal.right{
			.wrapper-description .cont-description{
				border: 0;padding: 0 45px;		
			}
		}
	}
	.category-page .content-tags{
		width: 100%;
		padding: 0;
	}
	.tags-taxonomy{
		margin-bottom: 70px;
	}
}

@media (max-width: 1100px){
	article.category-block .content-principal .cont-image{
		.image-desktop{
			display: none;
		}
		.image-mobile{
			display: block;
			width: auto;
			height: 120%;
			margin-top: -42%;
			margin-left: -75%;
		}
	}
}

@media (max-width: 990px){
	article.category-block{
		&.featured-top{
			.content-principal{
				.wrapper-description, .cont-image{
					width: 50%;
				}
			}		
		}
		.content-principal{
			.cont-image, .wrapper-description{
				width: 50%;
			}
			.wrapper-description{
				padding: 30px 15px;
				.cont-description .arrow{
					top: 50px;
				}
			}
		}
		.general-article{
			section{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				.cont-description{
					padding: 0 0 0 25px;
				}
			}
		}	
	}
}

@media (max-width: 780px){
	.title-section{
		margin: 40px auto;
		p{
			width: 100%;	
		}
	}
	article.simple-bg-block{
		margin-top: 50px;
		.description{
			width: 100%;
			padding: 0 15px;
		}
	}
	article.category-block{
		margin-top: 50px;
		.content-principal{
			margin-bottom: 0;
			.cont-image, .wrapper-description{
				width: 100%;
				border: 0;
			}
			.cont-image{
				padding: 0;
				position: relative;
    			height: 370px;
				img{
					position: relative;
					width: 100%!important;
					left: 0;
					margin: 0!important;
					top: 0;
				}
			}
			.wrapper-description{
				.cont-description{
					max-width: 100%;
					padding: 0;
					text-align: center;
					.line{
						float: none;
						display: inline-block;
						margin: 20px auto;
					}
					.field-link, h2{
						text-align: center;
					}
					h4{
						text-align: left;
    					margin-top: 0;
					}
					.arrow{
						top: -5px;
						left: 50%!important;
						margin-left: -10px;
					}
					.content-likes{
						display: none;
						&.elem-mobile{
							display: none;
							text-align: center;
							> div{
								float: none;
								display: inline-block;
							}
						}
					}
				}
			}
		}
		.general-article{
			float: left;
			margin-top: 0;
			margin-bottom: 30px;
			padding: 0 15px;
			section{
				padding: 0;
				&:first-child{
					padding-top: 30px;
					border-top: 1px solid $gray-3;
				}
				&:last-child{
					margin-bottom: 0;
					padding-bottom: 30px;
					border-bottom: 1px solid $gray-3;
				}
				.cont-description{
					padding: 0 0 0 15px;
					p{
						font-size: 12px;
					}
					h3{
						font-size: 18px;
					}
				}
			}
		}
		footer{
			margin: 0 auto;
			float: left;
			width: 100%;
		}
		&.featured-top{
			.content-principal{
				.cont-image{
					width: 100%;
					float: left;
					position: relative;
				}
				.wrapper-description{
					width: 100%;
    				border: 0;
					position: relative;
					.cont-description{
						max-width: 100%;
						padding: 0!important;
						text-align: center;
						position: initial;
						.arrow{
							top: -5px;
							left: 50% !important;
							margin-left: -10px;
						}
					}
				}
			}		
		}
	}
	article.dark{
		padding-top: 0;
		.general-article section:first-child{
			border-top: 1px solid $span-title;
		}
		.general-article section:last-child{
			border-bottom: 1px solid $span-title;
		}
		footer{
			margin-bottom: 30px;
		}
	}
	html .category-page article.category-block{
		margin-bottom: 20px;
	}
}

@media (max-width: 480px){
	article.category-block .content-principal .wrapper-description .cont-description h2, article.simple-bg-block header h2{
		font-size: 36px;
	}
	article.category-block .content-principal .cont-image{
		height: 220px;
	}
}